* {
    font-family:  sans-serif;
}

body {
    background-color: rgb(236, 232, 233);
    border-style: rgb(146, 144, 144);
}

h1,h2 {
    font-size: large;
    color: rgb(196, 7, 108);
}

table {
    border: 1px solid gray;
    width: 90%;
}

th, td {
    border: 1px solid gray;
    padding: 4px;
    text-align: left;
}
table#book-table tr:nth-child(even) {
    background-color: rgb(234, 238, 253); 
}

#logo-imgs{
    width: 100px;
    position: fixed;
    right: 35px;
    top: 100px
}

.book-cover{
    height: 100px;
}

.container {
    display:flex;
    flex-wrap: wrap;
    align-items: center; 
}

.flex-child {
    flex: 1;
    margin: 10px;
}



.page-container {
    margin-right: 145px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
}

.page-container > * {
    margin-left: 20px; 
}

.container-book-table {
    margin-bottom: 20px;
}

.container-fav-food {
    display: flex;
}

.fav-food-image {
    background-image: url('../images/salmon.png');
    width: 80%;
    height: 400px;
    border-style: solid;
    border-color: rgb(164, 164, 164);   
}

.container-form {
    margin-bottom: 30px;
}
.fav-description {
    margin-left: 10px;
}
.list-container {
    border-style: solid;
    margin: 0 auto;
    width: 400px;
}

a {
    text-decoration: none; 
    color: rgb(231, 137, 153); 
}

a:hover {
    color: rgb(153, 20, 42);
}