/* #color theme from coolors
f4f1de
e07a5f
3d405b
81b29a
f2cc8f
*/

* {
    font-family:  sans-serif;
}

h1, h2 {
    color: #81b29a;
    font-size: large;
    margin-bottom: 30px;

}

body {
    background-color: #f4f1de; 
}

#page-container {
    margin-right:250px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3d405b;
    border-width: 3px;
    background-color: white;

}

#top {
    padding: 10px 10px 10px 10px;
}


#fav-list-container {
    border-style: double;
    width: 50%;
    margin: 0 auto;
    border-color: #3d405b;
}

#food-image-container{
    margin: 10px;
    display: flex;
}


.left-col {
    width: 502px;
    height: 299px;
    background-image: url('/images/salmon.png');
    background-position: center;
    background-size: cover;
}

.left-col img {
    max-width: 100%;
    height: auto; 
}

.right-col{
    flex: 1;
    padding: 10px;
}


#logo-imgs{
    width: 200px;
    position: fixed;
    right: 35px;
    top: 100px

}


table {
    border-style: double;
}

tr:nth-child(odd) {
    background-color: rgb(238, 234, 234); /* Add background color to alternate rows */
}

label {
    text-align: right;
  }

