/* font stuff */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* colors */
:root {
    --white: #ffffff;
    --green1: #f0fff0;
    --green2: #88b388;
    --green3: #c2ffc2;
    --green4: #88b388;

}


body { 
    font-family: 'Roboto', sans-serif;
    background-color: var(--green1);
  }


    
  



